; Rendered by install.sh from asterisk/pjsip-endpoint.conf.tmpl, once per
; entry in SIP_EXTENSIONS. Output goes to /etc/asterisk/pjsip.d/<ext>.conf.
; Edit the template in the repo, not the rendered files directly.

[${SIP_EXT}]
type=endpoint
context=from-softphones
disallow=all
allow=ulaw,alaw
auth=${SIP_EXT}
aors=${SIP_EXT}
direct_media=no

[${SIP_EXT}]
type=aor
max_contacts=1
remove_existing=yes
qualify_frequency=60
support_path=yes

[${SIP_EXT}]
type=auth
auth_type=userpass
username=${SIP_EXT}
password=${SIP_EXT_PASSWORD}
